body {
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  font-family: 'Roboto Slab', sans-serif;
  color: white !important;
  font-size: 30px;
}

#second-row {
  display: none;
}

.compare-buttons {
  position: absolute;
  bottom: 30px;
  display: none;
  width: 100%;
  text-align: center;
  z-index: 9999;
  button {
    display: inline-block;
  }
}

#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.right-side-landing {
  h1 {
    padding-top: 70px;
    line-height: 1.2;
    text-align: center;
  }
}

h1 {
  font-family: 'Roboto', serif;
  font-weight: 700;
  color: white;
  font-size: 38px;
  margin-bottom: 50px;
}

.map-wrapper {
  height: 500px;
  position: relative;
}

.left-side-landing {
  background: url(/rajonai/landing.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}

.left-side-single {
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.navbar-laravel {
  background: #69ae44;
}

.single-rajon .right-side-landing {
  background: rgba(40, 40, 40, 0.50);
  min-height: 100vh;
  text-align: center;
  color: white;
}

.single-rajon .right-side-landing h1 {
  color: white;
}

.right-side-landing {
  background: rgba(40, 40, 40, 0.70);
  min-height: 100vh;
  text-align: center;
}

.single-rajon .content {
  padding-top: 120px !important;
}

.rajon-stats {
  text-align: center;
  position: relative;
  z-index: 9999;
  h1 {
    text-align: center;
  }
}

.rajon-stats .number {
  font-size: 60px;
  font-weight: 700;

}

.filtras {
  min-height: 100px;

}

.seniunija a {
  color: white !important;
}

.rajon-stats .title {
  font-size: 22px;
}

.rajon-stats .col-md-4 {
  margin-bottom: 80px;
}

.general-stats {
  background: rgb(80, 80, 80);
  min-height: 500px;
  z-index: 99;
  padding: 100px 0;
  padding-top: 30px;
  .big-number {
    font-size: 500px;
    color: #69ae44;
    font-weight: 700;
    line-height: 0.5;
    margin-top: 50px;
    margin-left: -40px;
  }
}

.number-hold {
  margin-top: 90px;
}

.first-compare {
  border-right: 1px solid white;
  background-size: cover;
  background-position: center center;
  position: relative;
  background: rgba(80, 80, 80, 0.7);
  .compare-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

}

.rajon-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.seniunija {
  margin-bottom: 20px;
}

.seniunija-box {
  position: relative;
  min-height: 100px;
  border: 2px solid white;
  &:hover, &.active {
    .pavadinimas {
      background: rgba(0,0,0, 0.4)
    }
  }
  .pavadinimas {
    z-index: 999;
    position: absolute;
    padding: 0 15px;
    top: 0;
    padding-top: 30px;

    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight:400;
    background: rgba(0,0,0, 0.6)
  }
}

.stats-row {
  .col-md-4 {
    position: relative;
  }
  .compare-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }
}


.chart {
  position: relative;
  .chart-number {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    text-align: center;
    color: white;
    font-size: 48px;
  }
}

.compare-charts {
  canvas {
    display: none;
  }
}

.headingas {
  margin-top: 100px;
  margin-bottom: 30px;
  h3 {
    font-weight: 400;
    font-size: 21px;
  }
}

.big-desc {
  color: white;
  font-weight: 700;
  width: 180px;
  text-align: left;
  float: right;
  position: relative;
  z-index: 99;
}

.text-desc {
  text-align: center;
  margin-top:40px;

}

.filtras {
  width: 12.5%;
  text-align: center;
  img {
    margin: 0 auto;
    height: 40px;
    margin-bottom: 10px;
  }
}


@media(max-width: 700px) {

  .big-desc {
    float:left;
    margin-left: 20px;
  }
  .filtras {
    width:25%;
  }
  .right-side-landing {
    h1 {
      padding-top: 50px;
      line-height: 1.2;
      font-size: 30px;
      text-align: center;
    }
  }

  #second {
    display: none !important;
  }

  .compare-buttons {
    bottom: 30px;
    position: relative;
    display: none;
    width: 100%;
    text-align: center;
    background: rgba(40, 40, 40, 0.7);
    float: left;
    margin-top: 30px;
    margin-bottom: -30px;
    padding-top: 40px;
    padding-bottom: 20px;
    button {
      display: inline-block;
    }
  }
}